
@using (Html.BeginForm("Index", "QuestionAnswer", FormMethod.Get))
{

    @*<div class="col-md-7">
            <input type="submit" name="submitbutton2" value="View All" class="btn btn-default" />
        </div>*@

    <div id="custom-search-input">
        <div class="input-group col-md-5">
            <input type="text" id="Textbox" name="Textbox" class="search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit" name="submitbutton1" value="Search" @*onclick="location.href='@Url.Action("Index", "QuestionAnswer")'"*@>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>

}

