@model PhysicianLocator.Models.PhysicianExperienceViewModel

@{
    ViewBag.Title = "Delete_experience";
    Layout = null;
}

<h4>Delete </h4>
<hr />
<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
   
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <input type="button" value="Cancel" id="clsbutton" name="clsbutton" class="btn btn-default" , onclick="Closepopup()" />
        </div>
    }
</div>
<script>
    function Closepopup() {
        $(".ui-dialog-titlebar-close").click();
    }
</script>
