<div class="col col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center contact-header">Paitent</div>
        <div class="panel-body">
            <address>
                <span>
                    <a href="@Url.Action("Register","AccountManagment")"new  class="pull-right">
                        <strong><i class="fa fa-arrow-circle-down"></i> </strong>
                    </a>
                </span>            
            </address>
        </div>
    </div>
</div>

<div class="col col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading text-center contact-header">Doctor</div>
        <div class="panel-body">
            <address>
                <span>
                    <a href="@Url.Action("DoctorRegistration","AccountManagment")" new class="pull-right">
                        <strong><i class="fa fa-map-marker"></i> </strong>
                    </a>
                </span>
            </address>
        </div>
    </div>
</div>